<div class="comments list-group">
    {{#each this}}
    <section class="comment list-item">
        <div>
            {{user.username}} on {{created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>